modules = ["nodejs-24"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "API Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Admin Dashboard"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=22689 BASE_PATH=/ pnpm --filter @workspace/weld-supply-store run dev"
waitForPort = 22689

[[workflows.workflow]]
name = "API Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=8080 MYSQL_HOST=mysql-200-151.mysql.prositehosting.net MYSQL_USER=website MYSQL_PASSWORD=iPFTq9f3AqzFMpE MYSQL_DATABASE=FabShop pnpm --filter @workspace/api-server run dev"
waitForPort = 8080

[[workflows.workflow]]
name = "Admin Dashboard"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=20227 BASE_PATH=/admin/ pnpm --filter @workspace/fabshop-admin run dev"
waitForPort = 20227

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 20227
externalPort = 3002

[[ports]]
localPort = 20228
externalPort = 3003

[[ports]]
localPort = 22689
externalPort = 3000

[[ports]]
localPort = 22690
externalPort = 3001

[userenv]

[userenv.shared]
MYSQL_HOST = "mysql-200-151.mysql.prositehosting.net"
MYSQL_USER = "website"
MYSQL_DATABASE = "FabShop"
MYSQL_PORT = "3306"
MYSQL_PASSWORD = "iPFTq9f3AqzFMpE"
VITE_STRIPE_PUBLISHABLE_KEY = "pk_test_51TLW8x8sAzjU76ghaca3FyqxXxyY8oljMSfZNyDshW53O124OwZ0gCrRqKW8RMqe356FNrZYCfoRrVN1sBtL7uwK00pXx8Hgxs"
GOOGLE_CLIENT_ID = "73139907678-o9pvjteb9llijv11057i3mdcicekh5c9.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET = "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"
GOOGLE_CALLBACK_URL = "https://c8113b4d-2d86-41d6-80d4-6a34481799b3-00-2bnr8fgfd5hg7.janeway.replit.dev/api/auth/google/callback"
